<li>
	{{name}}

	<h1>Woah THIS IS A BURGER PLACE FILLED WITH BURGERS</h1>
	<h2>HEY LOOK HERE BURGERS UP THE WAZOO</h2>
	<button class="submit-burger" data-id="{{this.id}}">SUBMIT!</button>

</li>

	<img style = "max-width: 400px, max-height: 400px" src="/assets/img/burger.png" alt="burger">



