body {
    background-color: orange;
}

h2 {
    font-size: 3rem;
    font-family: 'Modak', cursive;
}

h3 {
    font-family: 'Permanent Marker', cursive;
}
.container {
    max-width: 800px;
    max-height: 700px;
}

img {
    max-height: 200px;
    max-width: 200px;
    text-align: center;
}

ul {
    max-height: 200px;
    overflow: auto;
}

li {
    list-style-type: none;
}